* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color:darkgrey;
    padding: 20px 50px;
    width: auto;
    color: white
}
#hero {
    width: 40px;
    border-radius: 50%;
    float: left;
    display: inline-flex;
    margin-right: 20px;
}

.menu h4 {
    font-family: sans-serif;
    padding-top: 10px;
    width: auto;
    display: inline-block;
}

.menu h4:hover {
    color: aqua;
    cursor: pointer;
}
.clr {
    clear: both;
}

#navbar {
    float: right;
    margin-top: 8px;

    
}

#navbar li {
    display: inline;

}

#navbar li a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    margin-left: 60px;
    font-size: 16px;
    color: white;
    transition: 0.3s;
}

#navbar li :hover {

    color: aqua;
}



#navbar li:last-child {
    margin-right: 20px;
    
}

.main-menu {
    background-color:aliceblue;
    height:100vh;
    font-family: sans-serif;
    text-align: center;
    padding-top: 12%;
}


.about-me {
    width: 50%;
    margin: auto;
}

.about-me h1{
    margin-bottom: 20px;
}

.about-me h3 {
    margin-top: 20px;
}

.contact-icon a img{
    width: 60px;
    border-radius: 50%;
    margin-right: 40px;
}

.contact-icon{
    padding-left: 50px;
    margin-top: 30px;
}

#studentof {
    color: coral;
    text-decoration: none;
}
